<footer>
    <div class="footer-wrapper">
        <h1 class="footer-logo">Movie<span style="color: lime;">Hub</span></h1>
        <div class="sm-anchors">
         <a>
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-github" style="color: #ffffff;"></i>        </a>
        </div>

    </div>
    

    <div>
    <h6 class="cr">TheJudyEssam</h6>
    </div>
</footer>
</body>
</html>