/* Place in your CSS file at the top of the document */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("nav.css");
@import url("header.css");
@import url("movie-view.css");
@import url("footer.css");
@import url("clicked-movie.css");
@import url("search.css");


*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    color: white;
    background-color: black;
}